body{
    background-color: #d48f38;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    margin-top: 50px;
    padding: 50px;
}